body{
    text-align: center;  
    margin:0px;
    padding: 0px;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #41b883;
    background: white;

}

.center{
    width: 75%;
    margin: 0px auto;

}



#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{

    display: block;
    float:left;
    height: 55px;
    margin-top: -9px;
    margin-right: 7px;
    animation: latir infinite 4s linear;
}

@keyframes latir {
    0%{
        transform: scale(1 , 1);
    }

    50%{
        transform: scale(1.03 , 1.03);

    }

    55%{
        transform: scale(0.91 , 0.91);

    }

    100%{
        transform: scale(1 , 1);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float:right;
    font-size: 18px;
}

#menu ul{
   line-height: 85px;
   width: 60%;
   float:right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover{
    color: #41b883;
}

#slider{
    width: 100%;
    height: 350px;
    line-height: 320px;
    color:white;
    text-shadow: 0px 0px 5px #444;
    background: rgb(140,196,171);
    background: radial-gradient(circle, rgba(140,196,171,1) 14%, rgba(65,184,131,1) 45%);
}

#slider h1{

    margin: 0px;
    padding: 0px;
    text-align: center;
}

#slider.slider-small{
    height: 150px;
}
 
#slider.slider-small h1{
     margin: 0px;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
    line-height: normal;    
}

#content{
    width: 70%;
    float:left;
    min-height: 650px;
    margin-right: 25px ;
}

#sidebar{
    width: 25%;
    float: left;
    
}

.sidebar-item{
    background: #f7f7f7;
    padding: 15px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
background: rgb(94, 172, 84);
}

.btn-success:hover{
    background: black;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"], textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #eee;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus, textarea:focus{
    box-shadow: 0px 0px 2px #ccc inset;
}

textarea{
    width: 100%;
    height:150px;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 150px;
    
}

.radiobuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#footer{
    display: flex;
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 65px;
}

#footer p{
    margin:0px;
    padding:0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    height: 130px;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float:left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;

}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

.article-detail .subheader{
    margin-bottom: 0px;
    border: none;
    margin-top: 15px;
}

/* RESPONSIVE */

/* Desde 0px hasta 1489px de pantalla se ejecuta lo siguiente: */
@media(max-width:1506px){
    
    .center{
        width: 85%;
    }
}

@media(max-width:1331px){
    
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}

@media(max-width:797px){
    
    #logo{
        float: none;
        width: 240px;
        margin:0px auto;
        margin-top: 20px;
    }

    #menu,
    #menu ul{
        width: both;
        width: 100%;
        margin: 0px;
        padding:0px;
        line-height: 43px;
    }

    #content{
        float:none;
        width: 100%;
    }

    #sidebar{
        float:none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 0px;
        font-size: 30px;
    }

    .mid-form{
        width: 60%;
    }
}

@media(max-width:511px){
    
    #header{
        min-height: 130px;
        overflow:hidden;
    }

    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 160px;
    }
    #slider h1{
        font-size: 23px;
        line-height: 160px;
    }
}